<h3>Clientes</h3>

<table class="table table-stripes">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Código do Produto</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><% if c.email %>
            <%= c.email %>
          <% else %>
            Não consta
          <% end %>
        </td>
        <td><% if c.phone %>
            <%= c.phone %>
          <% else %>
            Não consta
          <% end %>
        </td>
        <td><%= c.product_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
